<% if flash[:error] %>
  <div class="notice"><%= flash[:error] %></div>
<% end %>

<h1>Hi, 
<% if current_user %>
  <%= current_user.name %></h1>
<% else %>
  stranger.</h1>
  <h2>Please <%= link_to "Log In", signin_path %> or <%= link_to "Sign Up", new_user_path %></h2>
<% end %>